# IDE-specific files
.idea/
!task-manager.iml
/shelf/
/workspace.xml
/httpRequests/
/mavenHomeManager.xml
/dataSources/
/dataSources.local.xml

# Build and output folders
/bin/
build/
dist/
out/

# Executables and compiled files
*.exe
*.dll
*.so
*.dylib
*.class

# Logs and temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Go coverage and test files
coverage_*.out
coverage.out
*.test

# Vendor (if using go mod vendor)
vendor/

# Module cache (optional, usually not needed in repo)
/pkg/mod/
